<footer class="bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3">
        <!-- Enlace al perfil de Instagram con el logo de Instagram -->
        <a href="https://www.instagram.com/maxiagosto/" target="_blank" class="social-link">
          <img id="imginsta" src="/img/instagram1.png" alt="Instagram">
          <img id="imginsta" src="/img/instagramHover.png" alt="Instagram" class="hover-image">
        </a>
        
        <!-- Enlace al perfil de LinkedIn con el logo de LinkedIn -->
        <a href="https://linkedin.com/in/maximiliano-agostinelli-1a464b62" target="_blank" class="social-link">
          <img id="imglinkedin" src="/img/linkedin1.png" alt="LinkedIn">
          <img id="imglinkedin" src="/img/linkedinHover.png" alt="LinkedIn" class="hover-image">
        </a>
      </div>
      <div class="col-md-6">
        <div class="mt-1">
          <p class="pfooter"><strong><u>Desarrollador:</u></strong> Agostinelli Maximiliano</p>
          <p class="pfooter"><strong><u>Mail:</u></strong> Maxi_Agosto@hotmail.com</p>
          <button class="btn btn-info fs-6" onclick="window.location.href='#inicio'">Inicio</button>
        </div>
      </div>
    </div>
  </div>
</footer>